{% extends "base.html" %}

{% block content %}

<div class="container mt-5">

  <h2 class="mb-4 text-center">📋 Mis tareas</h2>

  
  <div class="mb-4">
    <input type="text" class="form-control mb-2" placeholder="Nueva tarea...">
    <input type="date" class="form-control mb-2">
    <button class="btn btn-dark w-100">Agregar</button>
  </div>


...

<div class="card shadow-sm">
  <div class="card-body">

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="tarea1">
      <label class="form-check-label" for="tarea1">
          Hacer tarea de mate
      </label>
    </div>

    <small class="text-muted d-block mt-1">📅 30 junio</small>

  </div>
</div>

<table class="table-danger"><div class="card shadow-sm">
  <div class="card-body">

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="tarea1">
      <label class="form-check-label" for="tarea1">
          Hacer tarea de mate
      </label>
    </div></table>

<div class="card shadow-sm">
  <div class="card-body">

    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="tarea1">
      <label class="form-check-label" for="tarea1">
        Practicar baile
      </label>
    </div>

    <small class="text-muted d-block mt-1">📅 1 julio</small>

  </div>

        💻 Estudiar programación
        <br>
        <small class="text-muted">📅 2 julio</small>
      </div>
    </div>

  </div>

</div>

{% endblock %}